DOMAIN_NAME=localhost
CONTAINERS_SUBNET=172.16.0.0
TIMEZONE=America/Sao_Paulo

GITLAB_IP=172.16.0.2
GITLAB_RUNNER_IP=172.16.0.3
GITLAB_VERSION=19.1.2-ce.0
GITLAB_RUNNER_VERSION=latest
HTTP_PORT=8089
REGISTRY_PORT=5050
PAGES_PORT=8090
EXTERNAL_URL=http://$DOMAIN_NAME:$HTTP_PORT
REGISTRY_URL=http://$DOMAIN_NAME:$REGISTRY_PORT
PAGES_URL=http://$DOMAIN_NAME:$PAGES_PORT
SSH_PORT=2222
GITLAB_ROOT_EMAIL=youremail@mail.com
GITLAB_ROOT_PASSWORD=P@ssWord
