DOMAIN_NAME=localhost
DOMAIN_NAME_PAGES=localhost
DOMAIN_NAME_PAGES=
CONTAINERS_SUBNET=172.16.0.0
TIMEZONE=America/Sao_Paulo

GITLAB_IP=172.16.0.2
GITLAB_RUNNER_IP=172.16.0.3
GITLAB_VERSION=19.1.2-ce.0
GITLAB_RUNNER_VERSION=latest
HTTP_PORT=8089
REGISTRY_PORT=5050
PAGES_PORT_INTERNAL=3080 # Alterei a porta padrão (:8090) pois tive problemas com conflito de portas
PAGES_PORT_EXTERNAL=8090
# Mude para https caso esteja utilizando um traefik por exemplo, e remova as portas
EXTERNAL_URL=http://$DOMAIN_NAME:$HTTP_PORT
REGISTRY_URL=http://$DOMAIN_NAME:$REGISTRY_PORT
PAGES_URL=http://$DOMAIN_NAME_PAGES
SSH_PORT=2222
GITLAB_ROOT_EMAIL=youremail@mail.com
GITLAB_ROOT_PASSWORD=P@ssWord

